:root {
  --red: #F06A4D;
  --purple: #9873FF;
  --light-grey: #C8C5D1;
  --dark-grey: #B0B0B0;
  --black: #333;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  background-color: #F5F5F5;
}

table {
  border-spacing: 0;
}


h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.tippy-box {
  border-radius: 0;
}

.tippy-content {
  padding: 7px 14px;
  font-size: 12px;
  line-height: 16px;
}

.is-selected {
  display: none;
}

.container {
  max-width: 1406px;
  margin: 0 auto;
  padding: 0 20px;
}

.modal {
  position: fixed;
  display: flex;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
}

.modal__content {
  position: relative;
  display: flex;

  flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;

  width: 100%;
  max-width: 450px;
  max-height: 80%;
  margin: auto;
  padding: 25px 0;
  border: 1px solid #888;
  background-color: #fefefe;

  transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);

  transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;

  overflow-x: auto;
}

.modal__error-block {
  margin-bottom: 9px;
}

.modal__error {
  font-size: 10px;
  line-height: 14px;
  color: var(--red);
  text-align: center;
}

.modal__title {
  margin-bottom: 30px;
  padding: 0 30px;
  font-size: 18px;
  line-height: 25px;
}

.modal__title_delete {
  margin-bottom: 11px;
  align-self: center;
  -ms-grid-row-align: center;
}

.modal__text {
  align-self: center;
  -ms-grid-row-align: center;

  margin-bottom: 25px;
  padding: 0 88px;
  text-align: center;
}

.modal-title__id {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--dark-grey)
}

.modal__input-container {
  position: relative;
  margin-bottom: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

.modal__input {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid var(--light-grey);
  cursor: pointer;
}

.modal__input_error {
  border-color: var(--red);
}

.modal__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  color: #7d8b94;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 2;

  transition: top .2s ease-in-out;
  -o-transition: top .2s ease-in-out;
  -webkit-transition: top .2s ease-in-out;
  -moz-transition: top .2s ease-in-out;
}

.modal__input:focus~.modal__placeholder,
.modal__placeholder_active {
  top: -15px;
  font-size: 10px;
}

.symbol {
  color: var(--purple);
}

.modal__add-contact {
  position: relative;
  padding: 8px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  border: none;
  border-radius: 0;

  transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
}

.modal__add-contact::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -6px;
  background-image: url(../img/button-addContact.svg);
  background-repeat: no-repeat;
  background-position: 32% center;

  transition: background-image .2s ease-in-out;
  -o-transition: background-image .2s ease-in-out;
  -webkit-transition: background-image .2s ease-in-out;
  -moz-transition: background-image .2s ease-in-out;
}

.modal__add-contact:hover {
  color: var(--purple);
}

.modal__add-contact:hover.modal__add-contact::before {
  background-image: url(../img/button-addContact-active.svg);
}

.modal__submit {
  position: relative;
  align-self: center;
  margin-bottom: 7px;
  padding: 13px 35px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border: none;
  background-color: var(--purple);
  transition: background-color .2s ease-in-out;
}

.modal__submit:hover {
  background-color: #8052FF;
}

.modal__submit::after {
  content: '';
  position: absolute;
  left: 15px;
  top: 50%;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  background-image: url(../img/loading.svg);
  background-repeat: no-repeat;
  background-size: contain;
  animation: loading 2s linear infinite;
  visibility: hidden;
}

.modal__submit_loading::after {
  visibility: visible;
}

.modal__cancel {
  align-self: center;
  font-size: 12px;
  line-height: 10px;
  border: none;
  border-bottom: 1px solid var(--black);
  background-color: transparent;
  transition: color .2s ease-in-out, border-color .2s ease-in-out;
}

.modal__cancel:hover {
  border-color: transparent;
  color: #8052FF;
}

.modal__close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.modal__close::before,
.modal__close::after {
  content: '';
  position: absolute;
  top: 41%;
  left: 0px;
  width: 21px;
  height: 2px;
  background-color: var(--light-grey);
  transform: rotate(45deg);
  transition: background-color .2s ease-in-out;
}

.modal__close:hover.modal__close::before,
.modal__close:hover.modal__close::after {
  cursor: pointer;
  background-color: var(--black);
}


.modal__close::after {
  transform: rotate(-45deg);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.active {
  transform: scale(1);
}

.active>.modal__content {
  transform: scale(1);
}

.modal__contacts_active {
  padding: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.modal-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  background-color: rgba(200, 197, 209, 0.3);
}

.modal-contacts__item {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.modal-contacts__input {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  border: none;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  background-color: #f0eff3;
}

.modal-contacts__input::placeholder {
  font-size: 13px;
  font-weight: normal;
}

.modal-contacts__cancel {
  flex-shrink: 0;
  width: 27px;
  background-color: #E7E5EB;
  background-image: url(../img/button-delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--light-grey);
  transition: border-color .2s ease-in-out,
    width .2s ease-in-out,
    background-image .2s ease-in-out;
}

.modal-contacts__input:focus {
  border-right: 1px solid var(--light-grey);
}

.modal-contacts__input:focus+.modal-contacts__cancel {
  width: 0px;
  border: transparent;
}

.modal-contacts__cancel:hover {
  border-color: var(--red);
  background-image: url(../img/button-delete-active.svg);
}

.choices {
  flex-shrink: 0;
  width: 123px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
}

.choices__inner {
  padding: 0;
  min-height: 0;
  height: 37px;
  font-size: 12px;
  border-color: var(--dark-grey);
  background-color: #E7E5EB;
  color: var(--black);
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.choices__list--single {
  padding: 9px 12px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  word-break: keep-all;
  background-color: #F4F3F6;
  border-color: var(--dark-grey);
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  font-size: 12px;
}

.choices__list--dropdown .choices__item:hover {
  background-color: #E7E5EB;
}

.choices[data-type*=select-one]::after {
  height: 7px;
  width: 7px;
  right: 15px;
  border-width: 0px;
  border-right: 1px solid var(--purple);
  border-top: 1px solid var(--purple);
  transform: rotate(135deg);
  margin-top: -6px;
  transition: all .1s ease-in-out;
}

.choices[data-type*=select-one].is-open:after {
  border-width: 0px;
  border-left: 1px solid var(--purple);
  border-bottom: 1px solid var(--purple);
  margin-top: -2px;
}

/* ----------header----------- */
.header {
  margin-bottom: 40px;
  padding: 20px 0;
  background-color: #FFF;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
    0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 50px;
  width: 50px;
  margin-right: 53px;
  background-image: url(../img/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__form {
  position: relative;
  width: 43%;
}

.header__search {
  width: 100%;
  padding: 13px 16px;
  border: 1px solid #d4d4d4;
}

.header__search::placeholder {
  font-size: 14px;
  line-height: 19px;
  color: var(--dark-grey);
}

.header__search-list{
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.header__search-item {
  padding: 13px 16px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.header__search-item:hover {
  color: #ffffff;
  background-color: #B89EFF;
}

.autocomplete-active {
  background-color: var(--purple) !important;
  color: #ffffff;
}

.mark {
  font-weight: bold;
  background-color: #fdfd24;
  color: var(--black);
}

/* --------main---------- */
.main__container {
  padding: 0 10px;
  max-width: 1246px;
}

.main__title {
  margin-bottom: 10px;
  font-size: 24px;
  padding: 0 10px;
  line-height: 33px;
  font-weight: bold;
}

/* --------table---------- */
.table {
  min-width: 728px;
  width: 100%;
  /* max-width: 1186px; */
}

.table-container {
  /* width: 100%; */
  margin-bottom: 40px;
  padding: 0 10px;
  overflow-x: auto;
}

.table-header__item {
  padding: 0 7px;
  padding-top: 10px;
  padding-bottom: 7px;
  text-align: left;
  color: var(--dark-grey);
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}

.table-header__sort {
  cursor: pointer;
}

.table-header__arrow {
  width: 8px;
  height: 8px;
  margin-left: 2px;
  padding-left: 10px;
  color: #8052FF;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  background-image: url(../img/arrow-reverse.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.table-header__sort_active,
.table-header__sort_active-reverse {
  color: var(--purple);
}

.table-header__sort_active>.table-header__arrow {
  background-image: url(../img/arrow.svg);
}

.table-header__item_fullname {
  max-width: 221px;
}

.table-header__item_createdAt,
.table-header__item_updatedAt {
  max-width: 140px;
}

.table-header__item_contact {
  width: 130px;
}

.table-header__item:first-child {
  padding-left: 20px;
}

.table-header__item:last-child {
  padding-right: 20px;
}

.table__body {
  background-color: #FFF;
}

.table-row__elem {
  height: 60px;
  padding: 0 7px;
  vertical-align: middle;
  border-bottom: 1px solid rgba(200, 197, 209, .5);
}

.table-row__elem_id {
  padding-left: 20px;
  font-size: 12px;
  line-height: 16px;
  color: var(--dark-grey);
}

.table-row__elem-link {
  font-weight: normal;
  border-bottom: 1px solid transparent;
  transition: color .2s ease-in-out, border-color .2s ease-in-out;
}

.table-row__elem-link:focus-visible {
  color: var(--purple);
  border-color: var(--purple);
}

.table-row__elem-link:hover {
  color: #B89EFF;
  border-color: #B89EFF;
}

.table-row__elem-link:active {
  color: var(--purple);
  border-color: var(--purple);
}

.table-row__time {
  color: var(--dark-grey);
}

.table-buttons {
  padding-right: 20px;
}

.contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 80%;
}

.contacts__item:not(:last-child) {
  margin-right: 7px;
}

.contacts__item {
  opacity: 0.7;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.contacts__item:active {
  opacity: 1;
}

.contacts__item:nth-child(5n) {
  margin-right: 0;
}

.contacts__item_more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  font-size: 8px;
  font-weight: 600;
  border: 1px solid var(--purple);
  border-radius: 50%;
  cursor: pointer;
}

.contacts__item_margin {
  margin-top: 7px;
}

.table-buttons__button {
  position: relative;
  cursor: pointer;
  padding-left: 14px;
  font-size: 14px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
  transition: color .2s ease-in-out;
}

.table-buttons__button_change {
  margin-right: 28px;
}

.table-buttons__button_change::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  background-image: url(../img/button-change.svg);
  background-size: contain;
}

.table-buttons__button_change:focus-visible,
.table-buttons__button_change:hover,
.table-buttons__button_change:active {
  color: var(--purple);
}

.table-buttons__button_change:active::after {
  background-image: url(../img/loading-purple.svg);
  animation: loading 2s linear infinite;
}

.table-buttons__button_delete::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  background-image: url(../img/button-delete-active.svg);
  background-size: contain;
}

.table-buttons__button_delete:focus-visible,
.table-buttons__button_delete:hover,
.table-buttons__button_delete:active {
  color: var(--red);
}

.table-buttons__button_delete:active::after {
  background-image: url(../img/loading-red.svg);
  animation: loading 2s linear infinite;
}

.main__button-container {
  text-align: center;
}

.main__button {
  padding: 12px;
  padding-left: 48px;
  padding-right: 16px;
  font-weight: 600;
  color: var(--purple);
  border: 1px solid var(--purple);
  background-image: url(../img/button-add.svg);
  background-repeat: no-repeat;
  background-position: 20px center;
  transition-property: color, border-color, background-color, background-image;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.main__button:focus-visible {
  background-image: url(../img/button-add-active.svg);
  color: #fff;
  border-color: #9873FF;
  background-color: #8052FF;
}

.main__button:hover {
  background-image: url(../img/button-add-active.svg);
  color: #fff;
  border-color: #9873FF;
  background-color: #B89EFF;
}

.main__button:active {
  background-image: url(../img/button-add-active.svg);
  color: #fff;
  border-color: #9873FF;
  background-color: #8052FF;
}

.loader {
  display: none;
  position: relative;
}

.loader_active {
  display: table-row;
}

.loader__column {
  position: relative;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
}

.loader__item {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 72px;
  height: 72px;
  margin-left: -32px;
  margin-top: -32px;
  background-image: url(../img/loading.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* client.html */

.client__container {
  display: flex;
  justify-content: space-between;
  max-width: max-content;
  padding: 50px;
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0px 9.03012px 27.0904px rgb(176 190 197 / 32%), 0px 3.38629px 5.64383px rgb(176 190 197 / 32%);
}

.client__info {
  margin-right: 70px;
}

.client__header-title {
  font-size: 28px;
}

.client__title-container {
  display: flex;
  align-items: baseline;
}

.client__title {
  margin-right: 20px;
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
}

.client__data-label,
.client__id {
  color: var(--purple);
}

.client__title-container,
.client__data,
.client__contacts {
  max-width: max-content;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--light-grey);
}

.client__contacts-container {
  display: flex;
  align-items: center;
  padding: 5px;
}

.client__contacts-item {
  margin-right: 10px;
}

.client__contacts-descr a {
  font-weight: 600;
  padding-left: 5px;
  border-bottom: 1px solid transparent;
  transition: color .2s ease-in-out, border-color .2s ease-in-out;
}

.client__contacts-descr a:focus-visible {
  color: var(--purple);
  border-color: var(--purple);
}

.client__contacts-descr a:hover {
  color: #B89EFF;
  border-color: #B89EFF;
}

.client__contacts-descr a:active {
  color: var(--purple);
  border-color: var(--purple);
}

.client__avatar {
  width: 250px;
  height: 250px;
  background-image: url(../img/avatar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.client__btn-container {
  text-align: center;
}

.client__btn {
  padding: 12px 34px;
  font-weight: 600;
  color: var(--purple);
  border: 1px solid var(--purple);
  transition-duration: color, background-color, border-color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.client__btn:focus-visible {
  color: #fff;
  border-color: #9873FF;
  background-color: #8052FF;
}

.client__btn:hover {
  color: #fff;
  border-color: #9873FF;
  background-color: #B89EFF;
}

.client__btn:active {
  color: #fff;
  border-color: #9873FF;
  background-color: #8052FF;
}
